@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Lobster');

* {
	box-sizing: border-box;
	font-family: 'Poiret One', cursive;
	ms-font-family: -ms-Arial;
}

body {
	margin: 0 auto;
	font-size: 28px;
}

h1, h2, h3 {
	font-family: 'Lobster', cursive;
	letter-spacing: 2px;
}

img {
	border-radius: 95px 0px 95px 0px;
	-moz-border-radius: 95px 0px 95px 0px;
	-webkit-border-radius: 95px 0px 95px 0px;
	-webkit-box-shadow: 10px 14px 15px 1px rgba(159,168,163,1);
	-moz-box-shadow: 10px 14px 15px 1px rgba(159,168,163,1);
	box-shadow: 10px 14px 15px 1px rgba(159,168,163,1);
}

.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}

.row:before, .row:after {
	content: "";
	display: table;
	clear: both;
}

[class*="col-"] {
	float: left;
	min-height: 1px;
	padding: 10px;
	text-align: center;
}

/*---PRELOADER---*/
#preloader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	background: #ECF0F1;
	display: none;
}

.load {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 130px;
	height: 130px;
	display: none;
}

.load hr {
	border: 0;
	margin: 0;
	width: 40%;
	height: 40%;
	position: absolute;
	border-radius: 50%;
	animation: spin 2s ease infinite;
}

.load :first-child {
	background: #a2a2a2;
	animation-delay: -1.5s;
}

.load :nth-child(2) {
	background: #aba0a8;
	animation-delay: -1s;
}

.load :nth-child(3) {
	background: #6b8082;
	animation-delay: -0.5s;
}

.load :last-child {
	background: #e3e0cf;
}

@keyframes spin {
	0%, 100% {
		transform: translate(0)
	}
	25% {
		transform: translate(160%)
	}
	50% {
		transform: translate(160%, 160%)
	}
	75% {
		transform: translate(0, 160%)
	}
}

.js .load, .js #preloader {
	display: block;
}

/*---JUMBOTRON---*/
.jumbotron h2 {
	font-size: 35px;
	border-bottom: 1px solid #788789;
}

/*---HEADER---*/
header {
	background-color: #e3e0cf;
	min-height: 50px;
	width: 100%;
	overflow: hidden;
}

header nav ul {
	margin: 0;
	padding: 0;
	float: right;
	list-style-type: none;
}

header nav ul li {
	display: inline-block;
	padding: 10px 0;
	transition: 0.3s;
}

nav {
	max-width: 1200px;
	margin: 0px auto;
}

a {
	text-decoration: none;
	color: black;
	padding: 15px 50px;
}

a:active {
	color: white;
}

header nav ul li:hover {
	background-color: #c5d5cb;
	font-weight: bold;
	letter-spacing: 2px;     
}

/*---JUMBOTRON*---*/
.jumbotron {
	height: 100vh;
	max-width: 100%;
	background-image: url('../images/jumbotron.jpg');
	background-size: cover;
	background-attachment: fixed;
}

.slogan {
	float: right;
	max-width: 800px;
	padding: 20px 100px 20px 50px;
	margin-top: 150px;
	margin-right: 15px;
	background-color: rgba(192, 192, 192, 0.3);
	border-radius: 95px 0px 95px 0px;
	-moz-border-radius: 95px 0px 95px 0px;
	-webkit-border-radius: 95px 0px 95px 0px;
	-webkit-box-shadow: 10px 14px 15px 1px rgba(159,168,163,1);
	-moz-box-shadow: 10px 14px 15px 1px rgba(159,168,163,1);
	box-shadow: 10px 14px 15px 1px rgba(159,168,163,1); 
}

.jumbotron .button {
	margin-top: 20px;
	padding: 15px 0;
	width: 190px;
	background-color: #e3e0cf;
	font-size: 25px;
	font-weight: bold;
	transition: 0.2s;
	border: 2px solid #9fa8a3;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 7px 7px 5px 0px rgba(97,95,97,1);
	-moz-box-shadow: 7px 7px 5px 0px rgba(97,95,97,1);
	box-shadow: 7px 7px 5px 0px rgba(97,95,97,1);
	animation: buttonPulse 2.2s infinite;	
}

.jumbotron .button:hover {
	color: white;
	background-color: #c5d5cb;
	letter-spacing: 2px;
}

.jumbotron .button:active {
	-webkit-box-shadow: inset 11px 10px 6px -6px rgba(117,111,117,1);
	-moz-box-shadow: inset 11px 10px 6px -6px rgba(117,111,117,1);
	box-shadow: inset 11px 10px 6px -6px rgba(117,111,117,1);
}

@keyframes buttonPulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

/*---ABOUT---*/
#about {
	margin: 80px 50px;
	text-align: center;
	font-size: 25px;
	border-left: 6px double #cec9c6;
	border-right: 6px double #cec9c6;
}
#about img {
	max-width: 100%;
}

#about p {
	margin: 30px 150px;
}

/*---INTERLUDE---*/
.interlude {
	height: 35vh;
	background-image: url('../images/interlude.jpg');
	background-size: cover;
	background-attachment: fixed;
}

/*---PROJECTS---*/
#projects {
	background-color: #e3e0cf;
	padding: 30px 0 80px 0;
}

#projects h4 {
	padding: 30px;
	margin: 0;
	font-family: 'Lobster', cursive;
	font-size: 45px;
	text-shadow: 2px 2px #ffffff;
}

#projects h5 {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.4);
	margin-bottom: 5px;
}

#projects img {
	max-width: 100%;
	border-radius: 5%;
}

#projects i {
	transition: .3s;
}

#projects i:hover {
	color: white;
	background-color: black;
	transform: scale(1.1);
	border-radius: 10%;
}

[class*="col-"] a {
	padding: 0;
	font-size: 50px;
}

/*---CONTACT---*/
#contact {
	text-align: center;
	background-color: #9fa8a3;
	padding: 20px;	
}

.github {
	width: 80px;
	height: 80px;
	border: 0;
	color: black;
	border-radius: 50%;
	margin: 3px;
	cursor: pointer;
	font-size: 70px;
	line-height: 75px;
	transition: .4s;
	background-color: #9fa8a3;
}

.github:hover {
	transform: scale(1.5) rotate(360deg);
}

.github:active {
	color: white;
}

.github:focus {
	outline: none;
}

#contact a {
	padding: 0;
}

/*---FOOTER---*/
footer {
	padding: 5px;
	text-align: center;
	background-color: #e3e0cf;
}

footer p {
	margin: 15px;
	font-size: 20px;
}

/*---MEDIA QUERIES---*/
@media (max-width: 767px) {
	header nav ul {   
		float: none;
	}
	
	header nav ul li {
		display: block;
		text-align: center;
	}
	.jumbotron {
		background-attachment: scroll;
	}

	.slogan {
		margin-top: 20%;
	}

	#about {
	margin: 60px 10px 60px 10px;
	border-left: 4px double #cec9c6;
	border-right: 4px double #cec9c6;
	}

	#about p {
	margin: 30px;
	}

	.interlude {
		height: 50vh;
		background-attachment: scroll;
	}

	[class*="col-"] {
		width: 100%;
	}

	[class*="col-"] a {
	display: block;
	}
}